trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '10.x'

    - script: |
        npm install
        npm run build
      displayName: 'Build application'

- stage: Deploy
  dependsOn: Build
  jobs:
  - job: DeployJob
    steps:
    - script: |
        echo "This is where deployment happens"
      displayName: 'Deploy step'
